<launch>
    <arg name="record_bag" default="false"/>
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ergodic_control)/rviz/ergodic.rviz" />
    <node pkg="rosbag" type="record" name="rosbag_record"
        if="$(arg record_bag)" 
        args="record -a -o $(find px4_base)/bags/" />
</launch>
